<a href="https://colab.research.google.com/github/euna-jeong20/Intro_Recommender_System/blob/main/example_TF_IDF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* 예제 : https://wikidocs.net/24603

In [ ]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
import os

print(os.listdir('/content/drive/MyDrive/recommender_system/movies'))

['ratings.csv', 'movies_metadata.csv']

In [ ]:
path = '/content/drive/MyDrive/recommender_system/movies/'

data = pd.read_csv(path + 'movies_metadata.csv', low_memory=False)
data.head(2)

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0

[2 rows x 24 columns]

In [ ]:
data.shape

(45466, 24)

In [ ]:
data.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [ ]:
data['overview'].head()     #영화가 어떤건지 설명

0    Led by Woody, Andy's toys live happily in his ...
1    When siblings Judy and Peter discover an encha...
2    A family wedding reignites the ancient feud be...
3    Cheated on, mistreated and stepped on, the wom...
4    Just when George Banks has recovered from his ...
Name: overview, dtype: object

# 데이터 전처리

* 결측치 제거

In [ ]:
data = data[data['overview'].notnull()].reset_index(drop=True)      #data['overview'].notnull() 결측치가 없으면 True reset_index로 재정렬
data.shape

(44512, 24)

In [ ]:
data = data.loc[:20000].reset_index(drop=True)

In [ ]:
# 불용어 : 유의미하지 않은 단어 토큰을 제거
tfidf = TfidfVectorizer(stop_words='english')

#overview에 대해서 tf-idf 수행
tfidf_matrix = tfidf.fit_transform(data['overview'])
print(tfidf_matrix.shape)

(20001, 47665)

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

cosine_matrix = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [ ]:
cosine_matrix.shape

(20001, 20001)

In [ ]:
np.round(cosine_matrix, 4)

array([[1.    , 0.0158, 0.    , ..., 0.0083, 0.0172, 0.    ],
       [0.0158, 1.    , 0.0492, ..., 0.0057, 0.008 , 0.    ],
       [0.    , 0.0492, 1.    , ..., 0.    , 0.    , 0.    ],
       ...,
       [0.0083, 0.0057, 0.    , ..., 1.    , 0.0144, 0.    ],
       [0.0172, 0.008 , 0.    , ..., 0.0144, 1.    , 0.0183],
       [0.    , 0.    , 0.    , ..., 0.    , 0.0183, 1.    ]])

In [ ]:
# cosine-matirx 의 인덱스 영화 이름으로 생각하기

# movie title과 id를 매핑할 dictionary
movie2id = {}
for i,c in enumerate(data['title']):
    movie2id[i] = c

# id와 movie title을 매핑할 dictionary
id2movie = {}
for i, c in movie2id.items():       #movie2id.items()는 [(key, value)]
    id2movie[c] = i

In [ ]:
movie2id

* Toy story overview 기준으로 TF-IDF 정렬해보기

In [ ]:
idx = id2movie['Toy Story']
idx

0

In [ ]:
sim_scores = [(i, c) for i, c in enumerate(cosine_matrix[idx]) if i != idx]      #자기 자실을 제외한 영화들의 유사도 및 인덱스를 추출
sim_scores

* 객체의 인덱스 중 일부를 키로 사용하여 복잡한 객체를 정렬

* x[1]은 sim_scores의 1번째 자리의 값(자기자신과의 코사인 유사도를 제외한 나머지 코사인 유사도)

In [ ]:
sim_scores = sorted(sim_scores, key = lambda x : x[1], reverse=True)    #내림차순
sim_scores[:10]

[(15282, 0.5262275451171008),
 (2979, 0.463276799830381),
 (10271, 0.2797390476075632),
 (8303, 0.20078538664316947),
 (1058, 0.18287334034120212),
 (11367, 0.15712074193481165),
 (1916, 0.15288512626542436),
 (3039, 0.1433450408051554),
 (483, 0.13765225108436677),
 (11573, 0.1337032693869044)]

In [ ]:
sim_scores = [(movie2id[i], score) for i, score in sim_scores[0:10]]
sim_scores

[('Toy Story 3', 0.5262275451171008),
 ('Toy Story 2', 0.463276799830381),
 ('The 40 Year Old Virgin', 0.2797390476075632),
 ('The Champ', 0.20078538664316947),
 ('Rebel Without a Cause', 0.18287334034120212),
 ('For Your Consideration', 0.15712074193481165),
 ('Condorman', 0.15288512626542436),
 ('Man on the Moon', 0.1433450408051554),
 ('Malice', 0.13765225108436677),
 ('Factory Girl', 0.1337032693869044)]